# MongoDB Configuration
MONGODB_URI="MONGODB"

# AWS Cognito Configuration
COGNITO_USER_POOL_ID="POOL ID"
COGNITO_CLIENT_ID="CLIENT_ID"
AWS_REGION=us-east-1

# Server Configuration
PORT="PORT NUMBER"
NODE_ENV=development

# CORS Configuration
FRONTEND_URL="FRONTEND_URL"
